.cursor {
    position: fixed;
    top: 0;
    left: 0;
    border-radius: 50%;
    pointer-events: none;
    z-index: 9999;
}

.cursor-dot {
    position: fixed;
    top: 0;
    left: 0;
    width: 8px;
    height: 8px;
    background-color: var(--accent-color);
    border-radius: 50%;
    pointer-events: none;
    z-index: 9999;
}

@media (max-width: 768px) {

    .cursor,
    .cursor-dot {
        display: none;
    }
}